<div class="container">
  <h1 class="boom">MECHANICS</h1>
  <p>
  Welcome to the Mechanics page. Currently it's not the prettiest thing in the
  world, but it'll get updated along the way. I'm aiming for functional right now.
  </p>
  <p>
  The first thing you'll probably want is a copy of the syllabus; luckily all you have
  to do is click <a href="/res/downloads/apcmsyllabus.pdf">here</a>.
  </p>
  <ul>
    <li>
    <p>
    Here is the key for the <a href="revKey.jpg">Test 1 review</a>

    </p>

    </li>
    <li>
    <p>
    Here is the key for the <a href="FBDpractice.pdf">FBD and Newton's Laws practice</a>
    </p>
    </li>
    <li>
    <p>
    Test review <a href="test2pracSolutions.pdf">solutions</a> for thursday problems
    </p>
    </li>
    <li>
    <p>
    Here's the <a href="https://wikispaces.com/join/F4XN7NF">link to join the wiki </a> we'll be building to review
    </p>
    <p>
    Once you've joined the wiki you can get there using  <a href="https://mcduff-physics.wikispaces.com/">this link</a>
    </p>
    </li>
  </ul>

</div>
