@import "bootstrap-sprockets";
@import "bootstrap";

.nav li {
	display: inline;
}

.jumbotron {
	height: 400px;
	background-image: image-url('hubble.jpg');
	margin-bottom: 0px;

  .container {
    position: relative;
    top: 50px;
  }

}


.jumbotron h1 {
	color:#fff;
	font-size:48px;
	font-weight:bold;
	font-family: 'Shift', sans-serif;
}

.jumbotron p {
	font-size: 20px;
	color:#fff;
}

.subject-panes {
	background-color:#efefef;
	border-bottom:1px solid #dbdbdb;
}

.nav a {
	color: #5a5a5a;
	font-size:11;
	font-weight:bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

footer {
	margin-left:auto;
	margin-right:auto;
}
