<header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo"><a class="navbar-brand boom" href="/"><canvas id="myCanvas"></canvas></a></div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/ap1/">PHYSICS 1</a>
          </li>
          <li>
            <a href="/apcm/">MECHANICS</a>
          </li>
          <li>
            <a href="/apcem/">E&amp;M</a>
          </li>
          <li>
            <a href="/ttennis/">PING PONG</a>
          </li>
          <li>
            <a href="/sci_oly/">SCIENCE OLYMPIAD</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://www.cherokee.k12.ga.us/Schools/riverridge-hs/default.aspx">RIVER RIDGE</a>
          </li>
          <li>
            <a href="/contact/">CONTACT</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  
  </header>
